@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900");
* {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 980px;
}

.header-top {
  padding: 12px 0;
  background-color: #e8e8e8;
  border-bottom: 2px solid #000;
}

.header-top #model {
  margin: 0 0 0 15px;
  position: absolute;
  border: 2px solid #000;
  height: 248px;
}

.header-top img {
  margin: 0 15px;
}

.header-content {
  background-color: #faf2e0;
  padding: 30px 0 37px 0;
}

.header-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.header-content .header-content-container {
  margin-left: 88px;
  max-width: 290px;
  text-align: center;
}

.header-content .header-content-container h3 {
  font-size: 25px;
  margin: 0;
}

.header-content .header-content-container h4 {
  font-size: 20px;
  margin: 14px 0 0 0;
  text-transform: uppercase;
}

.header-content .header-content-container h5 {
  margin: 0;
  font-size: 18px;
}

.header-content .header-content-container p {
  max-width: 210px;
  border-bottom: 4px dotted #000;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  margin: 0 auto;
}

.header-content .header-content-img {
  position: absolute;
  right: 15px;
  bottom: -80px;
}

.header-footer {
  background-color: #e8e8e8;
  padding: 13px 0;
}

.header-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-footer p {
  font-size: 24px;
  font-style: italic;
  margin: 0 0 0 88px;
}

section .personal-details {
  padding: 0 100px 0 100px;
}

section .personal-details .btn {
  background-color: #000;
  border-radius: 0;
  border-color: #000;
  text-transform: uppercase;
  width: 110px;
  font-size: 19px;
}

section .personal-details small {
  margin: 0 0 0 25px;
}

section .personal-details .send-button {
  margin-top: 50px;
}

section label, section article {
  text-transform: uppercase;
  color: #7c7c7c;
}

section article {
  display: block;
  border-bottom: 1px solid #7c7c7c;
  width: 280px;
  color: #7c7c7c;
  font-size: 16px;
  margin: 30px 0 20px 0;
}

section .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .form-group input {
  width: 320px;
}

section .form-check {
  margin-top: 30px;
}

section .form-check label {
  text-transform: none;
  color: #a9a9a9;
  font-size: 14px;
  margin-bottom: 35px;
}

section .form-check input {
  width: inherit;
}

@media only screen and (max-width: 980px) {
  header .header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-top .container img {
    margin: 0;
  }
  header .header-top .container #model {
    display: none;
  }
  header .header-content .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-content .container .header-content-container {
    margin: 0 auto;
  }
  header .header-content .container .header-content-img {
    position: initial;
  }
  header .header-footer .container p {
    margin: 0 auto;
    text-align: center;
  }
  section .container {
    padding: 0;
  }
  section .container .personal-details {
    padding: 0 20px 0 20px;
  }
  section .container .personal-details .form-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 420px) {
  header .header-top .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */